<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/public/game-icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Game Hub
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-5 text-center  gameBox">
      <h1>Games I have</h1>
    </div>
    <div class="col-md-2 text-center">
      <input id="gamesInput" type="text" placeholder="Search by game">
    <button id="searchBtn">click</button>
    </div>
    <div class="col-md-5 text-center gameBox">
       <h1>Games I want</h1>
    </div>
  </div>
</div>

<script src="../public/js/games.js"></script>