<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">

    <img src="/controller.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Game Hub
  </a>
  <h3>{{userEmail}}</h3>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-5 text-center  gameBox">
      <h1>Games I have</h1>
	  <div class="leftColumn"></div>
    </div>
    <div class="col-md-2 text-center gameDiv">
      <input id="gamesInput" type="text" placeholder="Search by game">
    <button id="searchBtn">search</button>
		<h2 class="gameName"></h2>
		<button class="choiceBtn" value="true">Owned</button>
		<button class="choiceBtn2" value="false">Wish list</button>
    </div>
    <div class="col-md-5 text-center gameBox">
       <h1>Games I want</h1>
	   <div class="rightColumn"></div>
    </div>
  </div>
</div>
 <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="/js/games.js"></script>